<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <ng-template [ngIf]="(currentUser$ | async)">
    <span class="small-space"></span>
    <button id="btn-orders" mat-button class="navbar-element" routerLink="orders" routerLinkActive="active">
      <span i18n="Navbar entry for orders">Orders</span>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div id="btn-user" routerLink="/user" routerLinkActive="active" class="account-icon navbar-element">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="account-icon-title">{{(currentUser$ | async)?.name}}</span>
    </div>

    <mat-icon id="btn-logout" (click)="logout()" class="icon navbar-element">lock_open</mat-icon>
    <span class="small-space"></span>
  </ng-template>
</mat-toolbar>
