.fill-remaining-space {
  flex: 1 1 auto;
}

.icon {
  padding: 0 1rem;
  cursor: pointer;
}

.small-space {
  width: 1rem;
}

.navbar-element {
  height: 100%;
  border-radius: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.active {
  background-color: rgba(220, 220, 220, 0.5);
}

.account-icon {
  position: relative;

  .account-icon-title {
    position: absolute;
    bottom: 0;
    font-size: 50%;
    line-height: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
  }

  .icon {
    padding-bottom: .5rem;
  }
}
