<mat-card>
  <mat-card-header>
    <p i18n="site header for signup page">Signup</p>
  </mat-card-header>
  <form class="center" #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
    <mat-card-content>

      <mat-form-field class="center">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Name"
          name="name"
          [(ngModel)]="name"
          required
        />
      </mat-form-field>

      <mat-form-field class="center">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="email"
          [(ngModel)]="email"
          required
        />
      </mat-form-field>

      <mat-form-field class="center">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <div class="center">
        <button mat-raised-button type="submit" class="center" color="primary" [disabled]="signupForm.invalid">
          Signup
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
